:root {
    --primary-color: #0b1f66;
    --secondary-color: #e51937;
    --gray-color: #6b6b6b;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main-content {
    max-width: 1200px;
    margin: 20px auto;
}

.sessions {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Grid layout for session cards */
.session-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.session-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.session-card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.session-title h1 {
    margin: 0;
    font-size: 1.5em;
    color: var(--primary-color);
}

.session-title p {
    color: var(--gray-color);
}

.session-info {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-top: 10px;
    color: var(--gray-color);
}

.session-info span{
    border: var(--gray-color) solid 1px;
    padding: .3rem;
}
.session-info span:first-child{
    grid-column: span 2;
}

.goingToSession{
    cursor: pointer;
}

.add-session-btn {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-session-btn:hover {
    background-color: black;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--gray-color);
}

.add-session-submit-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-session-submit-btn:hover {
    background-color: darken(var(--primary-color), 10%);
}



.sessions-header{
    display: flex;
    justify-content: space-between;
}

